* {
	margin: 0 auto;
}

#main-content {
	padding-left: 1.5rem;
	padding-top: 6rem;
}

.headshot {
	max-height: 300px;
	width: auto;	
}

.nameTitle {
	text-align: center;
}

.bio {
	text-align: justify;
}

#tools td{
	padding-right: 2rem;
}

.toolRow td{
	margin-top: 1rem;
}

 ul {
  padding: 0;               /*pushes the text together more */
  margin: 0;                /*gets rid ot the tiny space on the top */
  overflow: hidden;         /*provides the bar for the navigation*/
  background-color: #333;   /* adds the darker color*/
}

li {
  float: left;     /* moves text to the left */
  display: inline; /* gets rid of those wierd dots*/
}

li a {
  display: block;         /*displays the navigation as a block*/
  color: white;           /* makes the text white */
  padding: 14px 16px;     /* spaces out the text*/
  text-decoration: none;  /* gets rid of the underlined parts */
}


li a:hover {
  transition: background-color 0.5s ease; /* smooth transition of colors */
  background-color: #b8bdc1;  /* Change the link color on hover */
